#com-input,.location-select{
    width: 500px;
}
#com-button{
    width: 100px;
}

.createProduct-wrapper table{
    border-collapse: separate;
    border-spacing: 0 30px;
}

.createProduct-wrapper td{
    text-align: justify;
}

.createProduct-wrapper .label-col{
    width: 200px;
}

.createProduct-wrapper .error-col{
    padding-left: 10px;
    width: 200px;
    color: red;
}